@import '@fontsource-variable/inter';

@tailwind utilities;

.match {
  --vheight: 50%;
  --border-color: grey;
  --round-id: calc(var(--current-round) + 1);
  --inner-width: calc(var(--width) + 4px + var(--gap));
  --inner-height: calc(((var(--height) + var(--gap)) * var(--size, 1)) - var(--gap));
  --line-width: 2px;
  height: var(--inner-height);

  &:not(.final-round):not([aria-hidden=true]):before,
  &:not(.final-round):not([aria-hidden=true]):after {
    --middle: calc(50% - (var(--height) / 2));
    content: '';
    position: absolute;
  }

  &:before {
    --size: 5px;
    --half: calc(var(--size) / 2);
    width: var(--size);
    top: calc(50% - var(--half));
    right: calc(var(--half) * -1);
    background-color: var(--line-color, grey);
    border-radius: 50%;
    height: var(--size);
    z-index: 2;
  }

  &:after {
    --target: calc(var(--next-round) - var(--current-round));
    --outer-width: calc(var(--inner-width) + ((var(--gap) - 6.3px) * var(--target)));
    --hline: calc(var(--outer-width) * var(--target) - (var(--outer-width) / 2));
    --vline: calc(var(--vheight) + (var(--gap) * var(--target)));
    width: var(--hline);
    height: var(--vline);
    right: calc(var(--hline) * -1);
    border: 0 solid var(--line-color, grey);
    border-right-width: var(--line-width);
    border-radius: 4px;
  }

  &[aria-disabled=true] {
    --border-color: lightgrey;
    --line-color: lightgrey;
  }

  &[data-next-side=blue] {
    &.proceed {
      --line-color: blue;
    }

    &:after {
      top: calc(50% - 1px);
      border-top-width: var(--line-width);
    }
  }

  &[data-next-side=red] {
    &.proceed {
      --line-color: red;
    }

    &:after {
      bottom: calc(50% - 1px);
      border-bottom-width: var(--line-width);
    }
  }

  &.odd {
    --inner-gap: calc((var(--height) + var(--gap)) / 2);
    margin-bottom: var(--inner-gap);
    height: calc(var(--inner-height) - var(--inner-gap));

    &[data-next-side=blue]:after {
      --vheight: 70%;
    }
  }
}

.match-title {
  left: 0;
  top: calc(50% - 12px);
}
