# See https://fly.io/docs/app-guides/continuous-deployment-with-github-actions/

name: Fly Deploy

on:
  # push:
  #   branches: [main]
  workflow_run:
    workflows: [Docker]
    types: [completed]
    branches: [main]

jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    concurrency: deploy-group    # optional: ensure only one action runs at a time

    environment:
      name: flyio
      url: 'https://tourney.fly.dev'

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Flyctl Actions
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Dedploy
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
        run: flyctl deploy --remote-only
